ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 20px
}

.flex-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  color: white;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 130px;
  height: 90px;
} 

@media (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .flex-item {
    flex-basis: 45%; 
    height: 100px;
    background-color: lightseagreen;
  }

  .item-2 { order: 1; }
  .item-1 { order: 2; }
  .item-4 { order: 3; }
  .item-3 { order: 4; }
  .item-6 { order: 5; }
  .item-5 { order: 6; }
}
